*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: monospace;
	background-color: #D3D3D3;
}
nav{
	background-color: white;
	border-bottom: #CECECE;
	height: 80px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
label.logo{
	color: green;
	font-size: 35px;
	font-weight: bold;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;

}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: black;
	font-weight: bold;
	font-size: 17px;
	margin: 0 50px;
	text-transform: uppercase;
}
.wrapper{
	background-color: white;
	max-width: 600px;
	width: 100%;
	margin: 20px auto;	
	padding: 30px;
	font-size: 17px;
	display: flex;
}
.wrapper .form{
	width: 100%;
	margin: 20px 50px;	
	padding: 30px;
}
.wrapper .form .cont{
	display: flex;
	justify-content: start;
}
.wrapper .form .cont label{
	font-size: 19px;
	font-weight: bold;
}
.wrapper .form .cont p{
	margin: 0 auto;
}
.wrapper .form .cont p a{
	color: green;
}
.wrapper .form .ship_add label{
	font-weight: bold;
	font-size: 19px;
}
.wrapper .form .inputfield{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
.wrapper .form .inputfield .input{
	width: 100%;
	color: lightgreen;
	outline: none;
	border: 1px solid;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
}

.wrapper .form .inputfield .cust_sele{
	position: relative;
	width: 100%;
	height: 37px;
}
.wrapper .form .inputfield .cust_sele select{
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid lightgreen;
	width: 100%;
	height: 100%;
	padding: 8px 10px;
	border-radius: 3px;
}
.wrapper .form .inputfield p{
	font-size: 14px;
	margin-left: 5px;
}
.wrapper .form .inputfield .check{
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.wrapper .form .last{
	display: flex;
	justify-content: start;
	margin: 0 10px;
}
.wrapper .form .last a{
	color: green;
	padding: 8px 10px;
	text-decoration: underline;
}
.wrapper .form .last .btn{
	width: 50%;
	margin: 0 20px 0 auto;
	padding: 8px 10px;
	font-size: 17px;
	border: 0;
	text-align: center;
	background: green;
	color: white;
}
.cont1{
	max-width: 771px;
	box-sizing: border-box;
	margin: auto;
	line-height: 1.5;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #24262b;
	padding: 70px 0;
}
.footercol{
	width: 25%;
	padding: 0 15px;
}
.footercol h2{
	font-size: 30px;
	color: white;
	padding:0 5px 5px 0;
}
.footercol p{
	font-size: 15px;
	color: white;
	margin-right: 5px;
	padding: 0 5px 0 0;
}
.footercol h4{
	font-size: 18px;
	color: green;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}
.footercol ul li{
	margin-bottom: 10px;
}
.footercol ul li a{
	font-size: 16px;
	color: white;
	text-decoration: none;
	font-weight: 300;
	display: block;
}
.contbel{
	max-width: 771px;
	box-sizing: border-box;
	margin: auto;
	padding: auto;
	background-color: #9C9C9C;
	display: block;
	text-align: center;
}
.contbel label{
	margin: auto;
	padding: auto;
	color: #ffffff;
}